# Please see eslint documentation on ignore files for more information:
# https://eslint.org/docs/latest/use/configure/ignore#the-eslintignore-file

# Node modules and dot-folders ignored by default by eslint.

# Development and distribution builds and caches.
build
dist
.cache
