# Please see git documentation on ignore files for more information:
# https://git-scm.com/docs/gitignore

# Node modules.
node_modules

# Environment variables.
.env

# Development builds and caches.
build
.jsdoc-cache