# Please see npm documentation on config files for more information:
# https://docs.npmjs.com/cli/v10/using-npm/config

# Package scope when first publishing package to npm registry.
access="public"

# Should npm create symlinks for package executables.
bin-links=true

# SECURITY: Change to true to prevent pre- or post- install scripts
# from running when adding dependencies etc.
ignore-scripts=false

# Registry which should npm publish package to.
registry="https://registry.npmjs.org/"

# Configuration for npm "version" command, including commit message format,
# tag format, and git signing. Please see npm documentation on npm "version" 
# command for more information: https://docs.npmjs.com/cli/v7/commands/npm-version
message="ver? Version %s"
git-tag-verion=true
tag-version-prefix="v"
sign-git-commit=true
sign-git-tag=true